body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: left; /* Align text to the left */
}

h1, h2 {
    margin: 0 0 20px;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    color: #007BFF;
}

p {
    margin: 0 0 10px;
}

.logo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-item {
    text-align: center;
    margin: 20px;
}

.logo-item img {
    max-width: 100px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
